#colophon {
  background-color: $color-white;
  color: #99979c;

  .container {
    border-top: 1px solid $color-primary;

    .footer-image {
      max-width: 100%;
      height: 45px;
      margin-top: 24px;
      background-position: left;
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 15px;

      @media (min-width: 575px) {
        margin-left: 0px;
      }
    }

    .adress {
      margin-left: 15px;

      @media (min-width: 575px) {
        margin-left: 0px;
      }
    }

    .footer-links {

      width: 100%;
      padding: 5px;

      h5 {
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 1.1rem;
        margin-top: 0px;
        margin-bottom: 0px;

        &::after {
          float: right;
          margin-right: 10px;
          content: "";
          display: inline-block;
          vertical-align: middle;
          margin-top: 2px;
          width: 3px;
          height: 3px;
          border-top: 1px solid $color-primary;
          border-right: 1px solid $color-primary;
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
          -webkit-transition: transform .5s;
          transition: transform .5s;
        }

        @media (min-width: 768px) {
          padding:0px;

          &::after {
            width: 0px;
            height: 0px;
            border-top: 0px solid #000;
            border-right: 0px solid #000;
          }

        }
      }

      ul {
        max-height: 0;
        overflow: hidden;
        padding: 0 20px;

        li {
          padding-left: 0px;
          font-size: 1rem;
          padding-bottom: 5px;

          &:nth-child(1) {
            margin-top: 10px;
          }

          @media (min-width: 768px) {
            font-size: .8rem;
            padding-bottom: 5px;
          }
        }

        @media (min-width: 768px) {
          max-height: 10000px;
          padding: 0;
        }
      }

      &.active {
        h5 {
          &::after {
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
          }

        }
        ul {
          max-height: 10000px;
        }
      }

      @media (min-width: 768px) {
        width: 20%;
      }
    }
  }
}
