#masthead {
  z-index: 99;
  width: 100%;
  background-color: #fff;
  max-height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all .5s;

  .navbar {

    .navbar-brand {
      height: 4.1666rem;
      width: 4.1666rem;
      padding-top: 0px;
      padding-bottom: 0px;
      border-radius: 5px;
      margin-right: 0px;
      z-index: 1;
    }

    #main-nav {
      background-color: $color-white;
      width: 100%;
      border-radius: 5px;
      position: absolute;
      top: 50px;
      transition: all .1s;

      ul {
        margin-left: 5rem;
        padding-top: 5px;
        padding-bottom: 5px;

        li {
          position: relative;
          transition: all .2s;

          a {
            font-size: 1.8rem;

            @media (min-width: 1200px) {
                font-size: .875rem;
            }
          }

          &:hover {

            &::after {
              content: '';
              display: none;
              position: absolute;
              top: 30px;
              left: 50%;
              width: 30px;
              height: 3px;
              border-radius: 25%;
              background-color: $color-primary;
              transform: translateX(-50%);

              @media (min-width: 1200px) {
                display: inline-block;
              }
            }
          }
        }
      }

      @media (min-width: 1200px) {
        top: 5px;
      }
    }
    .registration {
      background-color: $color-primary;
      height: 4.1666rem;
      width: 150px;
      border-radius: 5px;
      z-index: 1;
      position: absolute;
      top: 0;
      right: 100px;

      &--text,
      &--number {
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        font-weight: bolder;
        line-height: 1.6rem;

      }

      &--text {
        padding-top: 5px;
        margin-bottom: 0px;
        letter-spacing: 2.5px;
      }

      &--number {
        font-size: 1.5rem;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
    }

    .social {
      height: 50px;
      width: 100px;
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;

      ul {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        list-style: none;

        li {
          padding-right: 10px;
          font-size: 1.5rem;
          color: $color-primary;
        }
      }
    }


    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $color-primary;
        text-transform: uppercase;
      }
    }

    .navbar-toggler {
      margin: auto;
      transform: translateX(-100%);

      @media (min-width: 768px) {
        transform: translateX(-50%);
      }
    }

  }

  @media (min-width: 1200px) {
    background-color: transparent;
  }
}

.header-video {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.55);
  }

  .bg-video__content {
    margin-top: -10%;
    width: 100%;
    position: relative;
    z-index: -1;

  }
  .header-image-container {
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
    left: 50%;

    .header-image-box {
      position: relative;
      height: 100%;

      // .header-image {
      //   position: absolute;
      //   right: 0;
      //   top: 90%;
      //   width: 29rem;
      //   height: 7rem;
      //   background-position: right;
      //   background-repeat: no-repeat;
      //   background-size: contain;
      //   transform: translateY(-100%);
      //
      //   @media (min-width: 768px) {
      //     top: 32%;
      //   }
      // }
    }
  }
}

.header-image {
  min-height: 60rem;
  background-image: url('img/swiadczenia-nfz-bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 5rem;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.55);
  }
}

#wyszukiwarka {
  position: absolute;
  top: 55%;
  right: 0;
  width: 40vw;
  padding-top: 3rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 1.25rem;
  background-color: rgba(255, 255, 255, 0.55);
  background-size: cover !important;
  transform: translateY(-50%);

  .nav-tabs {
    margin-left: 20px;
    width: 330px;

    li {
      padding-left: 5px;

      a {
        border: 1px solid $color-primary;
        border-bottom-color: transparent;
        border-radius: 5px 5px 0 0;
        color: $color-primary;
        padding: 5px 40px;
        font-size: .9rem;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        font-weight: 600;
      }


      &.lekarz {
        a {
          &:hover,
          &:focus {
            background-color: $color-primary;
            color: $color-white;
          }
        }

        a.active {
          background-color: $color-white;
          color: $color-primary;
          border: 1px solid $color-white;

        }

      }

      &.usluga {
        a {
          &:hover,
          &:focus {
            background-color: $color-white;
            color: $color-primary;
          }
        }

        a.active {
          background-color: $color-primary;
          color: $color-white;
        }

      }

      &.lekarz a.active ~ &.usluga a {
        border: 1px solid $color-white;
      }
    }

  }

  .nav-tabs {
    border-bottom: 0px solid #dee2e6;
  }

  .tab-content {
    width: 330px;
    background-color: $color-primary;
    // border: 1px solid $color-primary;
    color: $color-white;
    border-radius: 5px 0 5px 5px;
    float: left;
    margin: 0 0 20px 20px;

    .service-box {
      width: 100%;
      height: 100%;
      padding: 15px;

      .select2-container *:focus {
        outline: none;
      }

      .select2-selection__arrow {
        i {
          position: absolute;
          transform:translate(-50%,-50%);
          top: 50%;
          left: 50%;
        }
      }
    }

    #usluga {
      background-color: $color-primary;
      border: 1px solid $color-primary;
      border-radius: 5px 0 5px 5px;

      p {
        color: $color-white;
      }
    }

    #lekarz {
      background-color: $color-white;
      border: 1px solid $color-white;
      border-radius: 5px 0 5px 5px;

      p {
        color: $color-primary;
      }
    }

    .tab-pane {
      width: 100%;
      height: 100%;

      p {
        text-align: right;
        font-weight: 400;
      }

      select {
        width: 100%;
        margin-bottom: 5px;
      }

      .button-header {
        margin: 10px 0;
        float: right;
      }
    }
  }
  .header-logo {
    position: absolute;
    left: 0;
    top: -45px;
    width: 29rem;
    height: 7rem;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-100%);
  }

  .container {
    position: relative;
  }

  @media (max-width: 1199px){
    display: none;
  }
}

#blok-tytulowy {
  position: absolute;
  top: 50%;
  right: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 1.25rem;
  //padding: 2rem;

  h1, p {
    text-align: right;
  }

  h1 {
    border-bottom: 0px solid rgba(0, 0, 0, 0.25);
  }

  p {
    color: $color-white;
  }

  &::before {
    content: '';
    display: block;
    width: 2000px;
    height: 25rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    background-size: cover !important;
  }
}

.header-text {

}

.kolcki {
  margin-top: 0px;
  position: relative;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  .klocek {

    border-radius: 5px 5px 0 0;
    background-color: #fff;
    transition: all .2s;

    h5 {
      padding-top: 0;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: 768px) {
        padding-top: 2.5rem
      }

    }

    p {
      padding-top: 5px;
      padding-bottom: 0;
      text-align: center;

      @media (min-width: 768px) {
        padding-bottom: 40px;
      }
    }

    &:hover {
      transform: translateY(0px);
    }

    @media (min-width: 768px) {
      &:hover {
        transform: translateY(-70px);
      }
    }
  }
  .zakrywacz {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 80px;

    @media (min-width: 768px) {
      display: block;
    }

  }

  @media (min-width: 768px) {
    margin-top: -90px;
  }
}

@media (max-width: 1200px) {
  .registration, .social {
    display: none !important;
  }

  .navbar {
    justify-content: center;

    .navbar-nav {
      width: 100%;
      margin-left: 0px !important;

      .menu-item {
        padding-left: 0rem;

        @media (min-width: 1200px) {
          padding-left: 1rem;
        }
      }
    }

    .navbar-collapse {
      text-align: center;
      transform: translateX(-50%);
      width: 100vw !important;
      min-height: 100vh !important;
      top: 0 !important;
      left: 50%;
      z-index: -1;

      ul {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        padding-top: 30px !important;

        li {
          a {
            font-size: 3rem !important;
          }
        }
      }
    }
  }
}
