#strona-lekarze {
  h5 {
    color: $color-secondary;
  }

  .border-bottom {
    border-bottom: 1px solid $color-secondary;
    padding-bottom: 5px;
  }
}

#strona-swiadczenia-nfz {
  margin: 5rem 0;

  .nfz-clinic-component {
    border-bottom: 1px solid $color-secondary;
    padding-bottom: 5rem;

    &:not(:nth-child(1)) {
      padding-top: 5rem;
    }
  }

  .free-term {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
  }
}

#uslugi-medyczne {
  h5 {
    display: block;
    border-bottom: .5px solid rgba(115,116,119,.5);
    padding-bottom: 5px;
    margin-bottom: 25px;
    color: $color-secondary;
    font-weight: 400;
    text-transform: uppercase;
  }
}

#strona-laboratorium {
  img {
    margin-top: calc(24px + 15px + 2rem);
    margin-bottom: 2rem;
  }

  .laboratory-open {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: right;

    span {
      font-size: 2rem;
    }
  }

  .space-bottom {
    margin-bottom: 5rem;
  }

  .table-filter, .table-show-all {
    display: inline-block;
  }
}

.nfz-circle {
  &::before {
    content: '!';
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: $color-primary;
    color: $color-white;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.8rem;
    position: absolute;
  }

  p {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.doctor-profile {
  padding-left: 30px;

  p {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.img-stethoscope {
  width: 100%;
  height: auto;
  // background-image: url('./img/medical-stethoscope.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  //   -webkit-mask-image: url('./img/medical-stethoscope.svg') no-repeat 50% 50%;
  //   mask-image: url('./img/medical-stethoscope.svg') no-repeat 50% 50%;
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='291.734px' height='291.734px' viewBox='0 0 291.734 291.734' style='enable-background:new 0 0 291.734 291.734;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='#737477'  d='M59.294,152.691c0.531,5.888,3.845,11.428,9.391,14.534c4.604,2.579,9.349,4.475,14.196,5.759 c-2.731,9.217-7.749,22.556-16.681,36.842c-8.484,13.577-8.585,29.961-0.267,44.957c12.254,22.1,39.312,36.951,67.341,36.951 c19.25,0,36.364-8.865,48.185-24.964c16.896-23.017,20.64-56.985,10.009-90.846c-9.854-31.389,3.325-48.135,12.045-55.333 c7.109,6.851,16.751,11.076,27.408,11.076c21.836,0,39.55-17.709,39.55-39.556s-17.714-39.551-39.55-39.551 c-21.847,0-39.551,17.709-39.551,39.551c0,3.076,0.383,6.053,1.046,8.927c-16.467,12.045-35.476,39.157-22.173,81.546 c8.389,26.729,5.815,53.939-6.727,71.018c-5.317,7.249-14.887,15.887-30.248,15.887c-19.874,0-39.566-10.486-47.882-25.492 c-3.068-5.535-5.608-13.919-0.318-22.385c11.814-18.911,17.727-36.558,20.531-47.344c6.566-0.989,12.977-3.107,19.144-6.4 c5.497-2.936,8.87-8.249,9.613-13.991c26.131-23.623,38.196-66.187,38.89-68.678c1.409-5.11-0.999-10.356-5.488-12.748 c3.609-31.954-8.218-48.059-15.354-54.619c0.544-3.07-0.684-6.354-3.381-8.114L135.91,1.148c-3.425-2.237-7.731-1.108-9.608,2.537 l-6.248,12.075c-1.882,3.646-0.223,7.534,3.708,8.694l14.825,4.37c3.759,1.108,8.262-0.688,10.39-3.982 c5.908,6.224,14.416,20.081,11.485,46.515c-4.029,0.767-7.482,3.702-8.652,7.922c-3.562,12.785-13.85,39.193-29.125,55.028 c-4.862-1.879-10.452-1.786-15.41,0.854c-3.229,1.725-6.387,2.594-9.628,2.662h-0.668c-3.415-0.073-6.75-1.036-10.165-2.946 c-4.836-2.713-10.344-2.952-15.201-1.238C56.68,117.739,46.611,91.89,43.108,79.281c-1.173-4.209-4.64-7.151-8.655-7.917 c-2.936-26.434,5.569-40.291,11.485-46.515c2.13,3.293,6.628,5.09,10.387,3.981l14.825-4.37c3.925-1.16,5.595-5.054,3.708-8.694 L68.615,3.69c-1.882-3.646-6.188-4.774-9.608-2.537L45.881,9.729c-2.695,1.76-3.92,5.043-3.379,8.114 c-7.125,6.561-18.962,22.659-15.351,54.618c-4.492,2.393-6.892,7.638-5.489,12.754C22.344,87.654,34.046,128.861,59.294,152.691z M230.921,76.661c8.522,0,15.445,6.913,15.445,15.452c0,8.533-6.923,15.451-15.445,15.451c-8.534,0-15.452-6.918-15.452-15.451 C215.469,83.573,222.382,76.661,230.921,76.661z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}

.admission {
  &--day {
    border-bottom: .5px solid rgba(115,116,119,.5);
    padding-bottom: 2px;
    margin-bottom: 3.5px;
  }

  &--time {
    margin-bottom: 0px;

    span {
      text-transform: uppercase;
    }
  }
}
