.single-post-article {
  position: relative;

  article {
    width: 100%;
    background-color: $color-white;
    border-radius: 3px;
    padding-top: 10rem;

    .meta {
      ul {
        margin-bottom: 0;

        li {
          padding-left: 0px;

          a {
            color: $color-secondary;
            font-size: 2rem;
          }
        }
      }
    }

    .entry-header {
      .entry-title {
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }

    .main-content {

      p {
        font-weight: 500;
        margin-bottom: 4rem;
      }
    }

    .right-sidebar {
      .categories, .news {
        font-weight: 500;
        font-size: 2rem;
        color: $color-primary;
        text-transform: uppercase;
        padding-left: 0;
      }

      .categories {
        .cat-item {
          padding-left: 15px;
          padding-top: .2rem;
          padding-bottom: .2rem;
          background-color: $color-primary;
          margin-bottom: 5px;
          line-height: 1rem;

          a {
            font-weight: 400;
            color: $color-white;
            position: relative;
            font-size: 1rem;
            line-height: 1rem;

            &::before {
              content: '+';
              display: inline-block;
              color: $color-white;
              position: absolute;
              top: 50%;
              left: -10px;
              transform: translateY(-50%);
            }
          }
        }
      }

      .post-news {

        li {
          padding-left: 0;
          padding: .5rem 0;
          border-bottom: 1px solid $color-primary;

          a {
            color: $color-secondary;
            font-size: 1.5rem;

            @media (min-width: 990px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.navigation {

  .nav-links {

    .nav-previous, .nav-next {

      a {
        border: 1px solid $color-primary;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 0rem;
        display: inline-block;
        padding: .313rem .875rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .nav-previous {
      a {
        &::before {
          content: '<<';
          display: inline-block;
          padding-right: 5px;
        }
      }
    }

    .nav-next {
      a {
        &::after {
          content: '>>';
          display: inline-block;
          padding-left: 5px;
        }
      }
    }
  }
}
