#menu-sidebar-menu {
  .nav-item {

    a.nav-link  {
      font-weight: 400;
      padding-top: .2rem;
      padding-bottom: .2rem;

      &:link,
      &:visited {
        color: $color-secondary;
      }

      &:hover,
      &:active {
        color: $color-white;
        background-color: $color-primary;
      }
    }

    ul, li {
      display: list-item;
    }

    ul {
      li {
        padding-left: 15px;
        padding-top: .2rem;
        padding-bottom: .2rem;
        a {
          font-weight: 400;

          &:link,
          &:visited {
            color: $color-secondary;
          }

          &:hover,
          &:active {
            color: $color-white;
            background-color: $color-primary;
          }


          &::before {
            content: '+';
            display: inline-block;
            color: $color-primary;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
          }


          // &:hover,
          // &:active {
          //   color: $color-white;
          //   background-color: $color-primary;
          //   text-decoration: none;
          //
          //   &::before {
          //     content: '+';
          //     display: inline-block;
          //     color: $color-white;
          //     position: absolute;
          //     top: 50%;
          //     left: 0px;
          //     transform: translateY(-50%);
          //   }
          // }
        }

        &:hover {
          background-color: $color-primary;
        }
        &:hover a {
          color: $color-white;
          text-decoration: none;
          &::before {
            content: '+';
            display: inline-block;
            color: $color-white;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
          }
        }
      }
    }

    .sidebar-menu {
      border: 0px;
      padding-left: 20px;

      li {
        position: relative;
        display: list-item;
        // a {
        //   &:link,
        //   &:visited,
        //   &:hover,
        //   &:active {
        //     color: $color-primary;
        //   }
      }
    }
  }
}
