.button-primary {
  &:link,
  &:visited {
      font-size: 1rem;
      color: $color-white;
      background-color: $color-primary;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid $color-primary;
      border-radius: 5px;
      padding: 7px 10px;
      transition: all .2s;
  }

  &:hover {
      background-color: transparent;
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
      border: 1px solid $color-primary;
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
  }
}

.button-primary-reversed {
  &:link,
  &:visited {
      font-size: 1rem;
      color: $color-primary;
      background-color: transparent;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid $color-primary;
      border-radius: 5px;
      padding: 7px 10px;
      transition: all .2s;
  }

  &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
      border: 1px solid $color-primary;
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
  }
}

.button-header {

  &--red {

    &:link,
    &:visited {
      font-size: 1rem;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid $color-primary;
      border-radius: 5px;
      padding: 7px 10px;
      transition: all .2s;
    }

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
      border: 1px solid $color-primary;
    }

    &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
    }
  }

  &--white {

    &:link,
    &:visited {
      font-size: 1rem;
      color: $color-white;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid $color-white;
      border-radius: 5px;
      padding: 7px 10px;
      transition: all .2s;
    }

    &:hover {
      background-color: transparent;
      background-color: $color-white;
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
      border: 1px solid $color-white;
    }

    &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
    }
  }

}
