.doctor-specialization-component {

  h5 {
    text-transform: uppercase;
  }

  .doctor-box {
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &:last-child {
      margin-bottom: 25px;
    }

    .doctor-profile {
      span {
        margin-bottom: 5px;
      }
    }

    &:hover {
      background-color: $color-primary;
      transform: scale(1.05);
      box-shadow: 0px 8px 20px 0px #888;
      .medical-stethoscope {
        &::before {
          background-image: url('img/medical-stethoscope-white.svg');
        }
      }

      .doctor-profile {
        span {
          border-color: $color-white;
        }
      }

      .text {

        &--small, &--normal {
          color: $color-white;
        }
      }

      .admission--day {
        border-color: $color-white;
      }
      .admission--time {
        span {
          color: $color-white;
        }
      }
    }
  }
}
