.post {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;

  .post-thumbnail {
    height: 150px;
    overflow: hidden;

    img {
      max-height: 150px;
    }
  }

  .meta {
    display: flex;
    justify-content: space-between;
    color: $color-secondary;
    font-family: Roboto, sans-serif;

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        text-decoration: none;
        color: $color-secondary;
        font-family: Roboto, sans-serif;
      }
    }
  }

  .entry-title {
    padding: 0 25px;
    text-align: center;
    transition: all .5s;
    margin-top: 0;
    min-height: 50px;
    font-size: 1.3rem;

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        text-decoration: none;

      }
    }
  }

  .edit-link {
    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $color-primary;
      }
    }
  }

  // .entry-content {
  //   overflow: hidden;
  // 	text-overflow: ellipsis;
  // 	white-space: nowrap;
  // }

  &:hover .post-thumbnail img {
    transition: all .5s;
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
  }
}
