#specjalizacje, #strona-specjalizacje, #strona-laboratorium {

  .specjalizacje {

    float: left;
    width: 130px;

    &__img, {

      width: 75px;
      height: 75px;
      background-image: url('./img/specjalizacje-sprite.png');
      transition: all .2s;

      &--kardiologia {
        background-position: 0 0;

        &-nfz {
          background-image: url('./img/specjalizacje-nfz-sprite.png');
          background-position: 0 0;
        }
      }
      &--ginekologia {
        background-position: -85px 0;

        &-nfz {
          background-image: url('./img/specjalizacje-nfz-sprite.png');
          background-position: -85px 0;
        }
      }
      &--chirurgia-naczyniowa {
        background-position: -170px 0;
      }
      &--dermatologia {
        background-position: -255px 0;
      }
      &--urologia {
        background-position: -341px 0;
      }
      &--laboratorium {
        background-position: -426px 0;
      }

      &:hover {
        transform: translateY(-15px);
      }
    }

    &__ginekologia-img {
      width: 75px;
      height: 75px;
      background-image: url('./img/ginekologia-sprite.png');
      transition: all .2s;
      background-position: center;
      background-repeat: no-repeat;

      &--konsultacje {
        background-position: 0 0;
      }
      &--prowadzenie {
        background-position: -85px 0;
      }
      &--usg2d {
        background-position: -170px 0;
      }
      &--piersi {
        background-position: -255px 0;
      }

      &:hover {
        transform: translateY(-15px);
      }

      & + p {
        font-size: 1rem;
        margin-top: 5px;
        font-weight: 400;
        color: $color-primary;
      }
    }

    h5, p {
      text-transform: uppercase;
    }
  }
}

.specialization-icon {

  &__home {
    width: 28px;
    height: 28px;

    &--kardiologia {
      background-position: 0 0;
    }
    &--ginekologia {
      background-position: -31px 0;
    }
    &--chirurgia-naczyniowa {
      background-position: -62px 0;
    }
    &--dermatologia {
      background-position: -94px 0;
    }
    &--urologia {
      background-position: -125px 0;
    }
  }

  &__nfz {
    width: 28px;
    height: 28px;

      &--ginekologia {
        background-position: -31px 0;
      }

      &--kardiologia {
        background-position: 0 0;
      }
  }

  &__home, &__nfz {
    background-image: url(img/specjalizacje-sprite.png);
    background-size: cover;

  }

}

.to-right {
  float: right;
  margin-right: 5px;
}

.to-left {
  float: left;
  margin-left: 5px;
}

#strona-lekarze {

  .specialization-icon {

    &__home {
      background-image: url('img/specjalizacje-gray-sprite.png');
      background-size: cover;
      width: 28px;
      height: 28px;

      &--kardiologia {
        background-position: 0 0;
      }
      &--ginekologia {
        background-position: -31px 0;
      }
      &--chirurgia-naczyniowa {
        background-position: -62px 0;
      }
      &--dermatologia {
        background-position: -94px 0;
      }
      &--urologia {
        background-position: -125px 0;
      }
    }

  }
}
