.tg {

  th, td {
    padding: 1rem;
  }

  th {

    &.tg-nazwa-tabeli {
      background-color: $color-primary;
      color: #f5f5f5;
      text-align: center;
      text-transform: uppercase;
    }

    &.tg-nazwa,
    &.tg-opis,
    &.tg-suma,
    &.tg-cena {
      background-color: #f5f5f5;
      color: $color-primary;
      text-transform: uppercase;
    }
  }

  tr:not(:first-child):not(:last-child){
    border-bottom: .5px solid rgba(115,116,119,.5);
  }

  .tg-nazwa {
    width: 30%;
    font-weight: 700;
    color: $color-secondary;
    padding-left: 25px;
  }
  .tg-opis {
    width: 40%;
    color: $color-secondary;
  }
  .tg-cena {
    width: 15%;
    text-align: right;
    padding-right: 25px;
    color: $color-secondary;

    span {
      color: #545456;
      font-weight: 700;
    }
  }

  .tg-zaplata {
    text-align: right;

    span {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .tg-suma {
    label {
      text-align: center;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 100%;
      height: 100%;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 25px;
        width: 25px;
        background-color: #eee;
        transform: translate(-50%, -50%);
        border: .1px solid #545456;
        border-radius: 5px;

        /* Create the checkmark/indicator (hidden when not checked) */
        &::after {
          content: "";
          position: absolute;
          display: none;
        }
      }

      &:hover input ~ .checkmark {
        background-color: #ccc;
      }

      input:checked ~ .checkmark {

      }

      input:checked ~ .checkmark:after {
        display: block;
      }


      .checkmark:after {
        left: 10px;
        top: 5px;
        width: 7px;
        height: 13px;
        border: solid #545456;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }


  /* On mouse-over, add a grey background color */

  /* When the checkbox is checked, add a blue background */


  /* Show the checkmark when checked */

  /* Style the checkmark/indicator */
}

.calendar {
  border-collapse: collapse;
  border-radius: 0 0 5px 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px $color-primary; /* this draws the table border  */

  tr {
    &:nth-child(2n+1) {
      background-color: #f5f5f5;
    }
    &:nth-child(1) {
      background-color: $color-primary;
      color: #f5f5f5;
    }
  }

  td, th {
    text-align: center;
    width: 120px;
    height: 35px;
  }

  td {
    color: $color-secondary;
    font-weight: 500;

    span {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }

}
