*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: $color-primary;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

section {
  width: 100%;
  @include clearfix;
  z-index: 0;
}

#specjalizacje {
  .description {
    width: 220px;
    margin-bottom: 30px;
  }
  padding-bottom: 3.75rem;
}

#laboratorium {
  background-image:
  linear-gradient(
      to right bottom,
      rgba($color-white, 0.55),
      rgba($color-white, 0.55)),
  url('img/lab-bg.jpeg');
  background-size: cover;
  background-position: left;

  .container {
    padding: 4rem 0;
  }

  .laboratorium--text {
    span {
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 1.8rem;
    }

    ul {
      li {
        padding-left: 5rem;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.8rem;
      }

      &:nth-child(6) {
        margin-bottom: 2rem;
      }
    }

    p {
      &:not(:nth-child(2)) {
        text-transform: uppercase;
        margin-bottom: 5px;
      }
    }
  }
}

#skierowania {

  .col-md-6 {

    &:nth-child(1) {
        text-align: center;

        @media (min-width: 768px) {
          text-align: right;
        }
    }

    &:nth-child(2) {
      .img-wrapper {
        float: left;

        @media (min-width: 768px) {
          float: right;
        }
      }
    }

    &:nth-child(4) {
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }
    }

    &:nth-child(2n) {
      border-width: 0px;
      padding-left: 15px;

      @media (min-width: 768px) {
        border-left: 2px solid $color-primary;
        padding-left: 35px;
      }
    }

    &:nth-child(2n+1) {
      border-width: 0px;
      padding-right: 15px;

      @media (min-width: 768px) {
        border-right: 2px solid $color-primary;
        padding-right: 35px;
      }
    }

    .img-wrapper {
      display: flex;
      height: 100%;
      overflow: hidden;
    }
  }

  .specialization, .referral {
    display: inline-block;
  }

  p {
    margin-top: 10px;
  }

  img {
    transition: all .5s;
    vertical-align: middle;
    &:hover {
      // transform: translateX(0rem) scale(1.01);
      // box-shadow: 5px 5px 4px #888888;
      transform:scale(1.1);
      -ms-transform:scale(1.1); /* IE 9 */
      -moz-transform:scale(1.1); /* Firefox */
      -webkit-transform:scale(1.1); /* Safari and Chrome */
      -o-transform:scale(1.1); /* Opera */
    }
  }
}

#telefon {
  min-height: 40rem;
  background-image:
  linear-gradient(
      to right bottom,
      rgba($color-white, 0.55),
      rgba($color-white, 0.55)),
  url('img/tel-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    min-height: 40rem;
  }

  h5 {
    margin-bottom: 0px;
  }
}

#aktualnosci {
  h2 {
    position: relative;
    margin-bottom: 6rem;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 65px;
      left: 50%;
      width: 30px;
      height: 4px;
      border-radius: 25%;
      background-color: $color-primary;
      transform: translateX(-50%);
    }
  }

  .show-more {
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;

    &::after {
      content: '\f107';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      position: absolute;
      top: 15px;
      left: 50%;
      width: 30px;
      height: 4px;
      border-radius: 25%;
      color: $color-secondary;
      transform: translateX(-50%);
    }

    &:hover {
      color: $color-primary;

      &::after {
        color: $color-primary;
        -webkit-animation: arrow-from-top .7s infinite; /* Safari 4+ */
        -moz-animation:    arrow-from-top .7s infinite; /* Fx 5+ */
        -o-animation:      arrow-from-top .7s infinite; /* Opera 12+ */
        animation:         arrow-from-top .7s infinite; /* IE 10+, Fx 29+ */
      }
    }
  }
}

#adres {
  h4, li {

    @media (max-width: 768) {
      text-align: center;
    }
  }

  h4 {
    font-size: 2.3rem;
    line-height: 2.4rem;
  }

  li {
    font-size: 1.5rem;
  }

  h5 {
    margin: 0;
    line-height: normal;
  }

  .phone-number {
    display: inline-block;
    font-size: 3.8rem;
    padding-right: 1rem;
    padding-left: 1rem;

    &:hover {
      transform: scale(1.1) translateX(0rem);

      @media (min-width: 768px) {
        transform: scale(1.1) translateX(1.15rem);
      }
    }
  }

  .phone-info {
    margin: 0;
    font-size: 1.3rem;
  }
}

#map {
  width: 100%;
  height: 40rem;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.medical-stethoscope {
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    top: 5px;
    left: 0px;
    background-image: url('img/medical-stethoscope.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
