h1,h2,h3,h4,h5 {
  color: $color-primary;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

h1.entry-title {
  color: $color-white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
}

h1, h1.entry-title {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}

p, span, ul, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p {
  color: $color-secondary;
  font-size: 1.2rem;
}

.entry-content {
  p {
    a {
      color: $color-primary;
      text-decoration: none;
      display: block;
      text-align: right;
    }
  }
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

a {

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

span {
  color: $color-primary;
}

ul {
  text-decoration: none;
  list-style: none;
}

li {
  padding-left: 10px;
}

.text-color-primary {
  color: $color-primary;
}

.text-color-white {
  color: $color-white;
}

.text {
  &--small {
    font-size: .8rem;
  }

  &--normal {
    font-size: 1.2rem;
  }
}

span.text {

  &--small {
    padding: 1px 2px !important;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid $color-primary;
    font-size: 3px;
    margin-bottom: 3px;
    display: inline-block;

    @media (min-width: 1200px) {
      padding: 2px 4px;
      font-size: .8rem;
      margin-bottom: 0;
    }
  }
}

.nfz-span-small {
  padding: 0 3px;
}

.phone-info {
  padding-right: 1rem;
  padding-left: 1rem;
}

.phone-number {
  font-size: 8rem;
  font-family: "Roboto", sans-serif;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

  &:hover {
    transform: scale(1.1) translateX(2.25rem);
  }
}
